@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
  --default-font-stack: 'Pangolin', serif;
}

body {
  background: #eee;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top, #f4a261, #e9c46a);
  height: 100vh;
  font: normal 16px/18px sans-serif;
  overflow: hidden;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
}

.ribbon-container {
  padding: 80px;
  box-sizing: border-box;
  will-change: transform;
  transition: transform .1s ease-in-out;
  user-select: none
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.ribbon-container:hover {
  transform: scale(1.1) rotate(1deg);
}

.ribbon-container:active {
  transform: scale(.999) rotate(-1deg);
}

.ribbon {
  position: relative;
  display: block;
  border: 1px solid #2eab9b;
  font: normal 1.875rem/3.75rem var(--default-font-stack);
  text-align: center;
  color: #264653;
  padding: 0 30px;
  background: #2eab9b;
  border-radius: 4px;
  box-shadow:
    0 0 30px rgba(0,0,0,.15) inset,
    0 6px 10px rgba(0,0,0,.15);
}

@media (max-width: 768px) {
  .ribbon {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding: 1rem;
  }
}

.ribbon::before,
.ribbon::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: -70px;
  bottom: -24px;
  display: block;
  width: 40px;
  height: 0;
  border: 30px solid #33b7a7;
  border-right: 20px solid #1b6d63;
  border-bottom-color: #38bbab;
  border-left-color: transparent;
  transform: rotate(-5deg);
  will-change: transform;
}

.ribbon::after {
  left: auto;
  right: -70px;
  border-left: 20px solid #1b6d63;
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}

.disclaimer {
  font: normal 20px/48px var(--default-font-stack);
  color: #e76f51;
  text-align: center;
}

.footer {
  font: normal 13px/48px sans-serif;
  color: #ab7240;
}

.waves {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  pointer-events: none;
}
